.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#logout-form {
  display: inline;
}
#logout-form button {
  padding: 10px;
  margin: 1px;
  background-color: aquamarine;
}

#login-button {
  color:white;
  background-color: blueviolet;
  border-radius: 10%;
}